.login-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(150deg, blue 10%, green 90%);
    color: white;
    .logo {
        font-size: 70px;
        font-weight: 600;
        font-family: 'Creepster', cursive;
        letter-spacing: 1rem;
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .desc {
        font-size: 34px;
        font-family: 'Aladin', cursive;
        letter-spacing: 5px;
        position: absolute;
        top: 200px;
        right: 50px;
        text-align: right;
        width: 1200px;
    }
    .film {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 500px;
        height: 600px;
    }
}
